{% extends "job_portal/base.html" %}

{% block title %}
  Home
{% endblock %}

{% block content %}
<h1>Active Jobs</h1>
<ul>
  {% for job in active_jobs %}
  <li><strong>{{ job.title|title }}</strong></li>
  <div>{{ job.company|title }}</div>
  <div>
    <a href="{% url 'detail' job.id %}">View Details</a>
  </div>
  {% endfor %}
</ul>
<h1>Non-Active Jobs</h1>
<ul>
  {% for job in not_active_jobs %}
  <li><strong>{{ job.title|title }}</strong></li>
  <div>{{ job.company|title }}</div>
  <div>
    <a href="{% url 'detail' job.id %}">View Details</a>
  </div>
  <br/>
  {% endfor %}
{% endblock %}
